<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36401163609-j4kphk5bl9coqofdikon9vv5pjs86jv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36401163609-j4kphk5bl9coqofdikon9vv5pjs86jv2</string>
	<key>API_KEY</key>
	<string>AIzaSyBLE0PHP6ZjLKc9VWgfoI3cR9SgIpQh2t4</string>
	<key>GCM_SENDER_ID</key>
	<string>36401163609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nikko.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-b263a</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-b263a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36401163609:ios:68ae47ae6a505f5685b048</string>
	<key>DATABASE_URL</key>
	<string>https://todofire-b263a.firebaseio.com</string>
</dict>
</plist>